<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartquiz">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartQuiz"
        tools:replace="android:theme">
        <activity
            android:name=".QuizDetailsActivity"
            android:exported="false" />
        <!-- FileProvider for sharing images -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- ZXing QR scanner activity – overrides library theme & orientation -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:replace="android:theme,android:screenOrientation" /> <!-- Your activities -->
        <activity
            android:name=".SubmissionSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminCheatLogsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".QuizStatsActivity"
            android:exported="false" />
        <activity
            android:name=".QuizInstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".CreatorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".QuizAttemptActivity"
            android:exported="false" />
        <activity
            android:name=".JoinQuizActivity"
            android:exported="false" />
        <activity
            android:name=".QuizCreationActivity"
            android:exported="false" />
        <activity
            android:name=".HomeDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Firebase messaging service -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>